* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Sans Serif';
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.wrapper {
    width: 420px;
    background: white;
    color: black;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: grey;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: black;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.remember-forgot a {
    color: grey;
    font-size: 14px;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 50px;
    background:#0166FF;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover{
    background: #F40076;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: black;
}

.register-link a {
    color: grey;
    text-decoration: none;
}

.remember-forgot a:hover,
.register-link a:hover {
    color: #F40076;
}
